.products__main-div {
  display: flex;
  flex-direction: column;
}

.our__products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__layout {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

@media screen and (max-width: 1050px) {
  .products__layout {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 650px) {
  .products__layout {
    grid-template-columns: auto;
  }
}

.Products__image-size {
  width: 250px;
}

.text__align {
  text-align: center;
  /* margin-top: 1rem; */
  margin-bottom: 4rem;
}
.Products {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
