.custo {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: var(--color-footer);

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custo-feature {
  display: flex;
  width: 100%;
}

.feature-image {
  width: 100%;
  background: url(../../assets/articlePicture.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Customizing feature component as per needs */
.custo-feature .features-container__feature {
  margin: 0;
}

/* Customizing feature component as per needs */
.custo-feature .features-container_feature-text {
  max-width: 700px;
}

.custo-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 6rem;
  margin: 4rem 0 2rem;
}

.custo-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.custo-heading h2 {
  padding-top: 1rem;
  font-size: 25px;
}

.custo-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-subtext);
  margin-top: 2rem;
  line-height: 2.5rem;
}

.custo-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-top: 2rem;
}

/* Customizing feature component as per needs */
.custo-container .features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.custo-container .features-container_feature-text {
  margin-top: 0.5rem;
}

.article__layout {
  display: flex;
}

@media screen and (max-width: 1050px) {
  .article__layout {
    flex-direction: column;
    align-items: flex-start;
  }

  .custo-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
    padding-left: 1rem;
  }

  .custo-feature {
    height: 350px;
  }

  .custo-heading p {
    margin-top: 1rem;
  }

  .custo-heading h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .article__layout {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Customizing feature component as per needs */
  .custo-feature .features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .custo-feature .features-container_feature-text {
    margin-top: 0.5rem;
  }

  .custo-container .features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }

  .custo-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}
