.title {
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.inputs {
  padding-top: 2rem;
  width: 50%;
  padding-bottom: 2rem;
  align-items: center;
}

input {
  width: 100%;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}

.form__paragraph {
  color: red;
}

button {
  width: 100%;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}
